* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h3 {
  font-size: 2rem;
  margin-bottom: 1rem;;
}

#islandContainer {
  width: 500px;
  height: 500px;
  border: 1px solid #222;
  box-shadow: 0 3px 10px rgba(0, 0, 0, .7);
}

.row {
  border: 1px solid #222;
  height: 50px;
  display: flex;
}

.cell {
  border: 1px solid #222;
  width: 60px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.water {
  background-color: #0e6be4;
}

.land {
  background-color: #d6cecee8;
}